:root{
    --Darkcyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    --ff: 'Kumbh Sans', sans-serif;
    --fw-heading:700;
    --fw-normal:400;
    --fs-normal:0.75rem;
    --fs-stats-name:1.125rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*center the article markup in the body using flexbox*/
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Darkcyan);
}
h1{
  font-family: var(--ff);
  font-size: var(--fs-stats-name);
  font-weight: var(--fw-heading);
  color: var(--Very-dark-desaturated-blue);
}
p{
  font-family: var(--ff);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  color: var(--Dark-gray);
}

article{
max-width: 500px;
border-radius: .6rem;
background-color: white;

}
.image-wrapper{
    position: relative;
    width:100%;
    border-bottom: 1px solid var(--Dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.image-wrapper h1{
    padding-bottom: .5rem;
    padding-top: 4rem;
   
}
.image-wrapper p{
    padding-bottom: 1rem;
    
}
.image-wrapper span{
    padding-left: .5rem;
}
.stats{
   max-width:100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.5rem 0;
  
}

.pattern-card img {
    border-radius: .6rem .6rem 0 0;
    
  }
  .victor{
    position: absolute;
    width: 65px;
    height: 65px;
    top: -40px;
    
    
  }
  .victor img{
    width: 100%;
    height: 100%;
    border-radius:50%;
  }
  .bg-image-top{
    position: absolute;
    top: -300px;
    left: -240px;
    z-index: -1;
  }
  .bg-image-bottom{
    position: absolute;
    top: 300px;
    right: -210px;
    z-index: -1;
  }
 

